@import "~materialize-css/dist/css/materialize.min.css";
.app{
    width: 70%;
    margin: 0 auto;
}

.app-header{
    font-size: 3.5rem;
}

.todo-list{
    padding:0;
    list-style: none;
}

.todo-item{
    background: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.delete{
    cursor: pointer;
}

.todo-right{
    display: flex;
    align-items: center;
}

.todo-date{
    margin-right: 5px;
}

.modal{
    font-size: 16px;
}